---
---

@import "{{ site.theme }}";

header {
  p {
    font-size: 0.8em;
  }

  ul:not(.downloads) {
    position: relative;
    right: inherit;
    top: inherit;
    background: inherit;
    border: none;
    height: auto;
    width: auto;
    li {
      width: auto;
      float: none;
      border: none;
      height: auto;

      @media screen and (min-width: 800px) {
        a {
          text-align: left;
        }
      }
    }
  }
}
